.linkedin {
	float: right;
}

.linkedin:hover:before {
	content: 'contact me';
	float: right;
}

.me {
	float: left;
	margin-right: 15px;
}

h1 small {
	font-size: 1.3rem;
}

small.disclaimer {
	font-size: 75%;
	color: #c0c0c0;
}